<div class="about-container-wrapper">
    <div class="about-container">      
      <div class="about-text">
        <h2>Neka usluga koju nudim</h2>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Venenatis viverra faucibus nisl senectus velit habitasse maximus augue. Euismod porta ut vitae nibh litora, enim commodo orci. Dignissim sodales interdum inceptos amet phasellus leo aliquet habitant. Enim egestas aliquam ornare purus urna turpis maecenas. Suspendisse purus pretium auctor dis nam ligula himenaeos rhoncus. Proin himenaeos erat condimentum felis; malesuada volutpat integer litora. Vehicula non risus vehicula platea; cras non nam.</p>
      </div>
      <div class="about-image">
        <img src="assets/aboutImage.jpg" alt="About Image" />
      </div>
    </div>
  </div>
  