<div class="services-container">
  <h2>Članci</h2>

  <div class="services-wrapper-container">
    <!-- Left Scroll Button -->
    <button class="scroll-button left" (click)="scrollLeft(scrollContainer)">&#10094;</button>

    <!-- Services Wrapper -->
    <div class="services-wrapper" #scrollContainer>
      <div class="service-item" *ngFor="let service of services">
        <img [src]="service.image" alt="Service Image" class="service-image" />
        <div class="service-text">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>

    <!-- Right Scroll Button -->
    <button class="scroll-button right" (click)="scrollRight(scrollContainer)">&#10095;</button>
  </div>
</div>
