/* navbar.component.css */

/* Make navbar thicker by increasing padding */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  background-color: black !important; /* Set background color to black */
  position: sticky !important;
}

/* Adjust the text color to white for better visibility */
.navbar .navbar-brand, .navbar .nav-link {
  color: white !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f8f9fa !important; /* Light color on hover */
}
